

@media screen and (max-width:1000px) {
    body{background-color: pink;} 
    .title{
        color:magenta;
        text-align:center;
    }


.card{
    width: 45%;
}
}


@media screen and (max-width:700px){
    body{background-color: aquamarine;}
    .title{
        text-align: right;
        color: blue;
    }
    .card{
        width: 80%;
        margin-bottom: 3em;
    }
}


@media screen and (max-width:400px){
    body{background-color: gray;}
    .title{
        text-align: center;
        color: pink;
        font-size: 1.5em;
    }
    .cardcontent p:nth-child(1){
        
        font-size: 1.1em;
      
        
    }
    .card{
        width: 100%;
        
    }
}