
*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
img{width:100%; display:block}
/* -- Card -- */
.card{
    width:22%;
    box-shadow: 0px 0px 5px 1px gray;
    border-radius: 10px;
    overflow:hidden;
    margin: 2% 0%;
    transition: ease 800ms;
    
  
}
.card:hover{
    box-shadow: 0px 0px 5px 1px black;
    transform: scale(1.05);
}
.cardcontent{
    padding: 0.5em 0.8em;
}
.cardcontent p:nth-child(1){
    color: orange;
    font-size: 2em;
    font-weight: 800;
    
}

.cardcontent p:nth-child(2){
    color: brown;
    
}

.cardcontainer{
    display: flex;
    margin:2em,auto;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
/*-- IMAGES CARD --*/
.imgcard{
    width: 45%;
    box-shadow: 1px 1px 5px rgb(5,5,5);
    border-radius: round;
    overflow: hidden;
    position: relative;
    
}
.imgCardContent{
    position: absolute;
    background-color: rgba(200, 100, 50, 0.5);
    top:20%;
    bottom: 20%;
    left:30%;
    right:30%;
    text-align: center;
}
.p1_imgcard{
    color: blue;
    font-size: 2em;
}

.imgCardContent2{
    position: absolute;
    top:5%;
    left:5%;
    color: crimson;
    font-size: 2.5em;
    font-weight: 900;

}
.p1_imgcard2{
    
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -1em;
}
.imgcard:hover .p1_imgcard2{
    color: white;
    font-size: 1.2em;
}

.imgcard:hover{
box-shadow: none;
border:ridge 2px orange
}

/*--Simple elements animation--*/
.square{
    width:200px;
    height:200px;
    background-color: pink;
    transition: ease 1s;
}

.square:hover{
    border-radius: 50%;
    background-color: blueviolet;
}

/*--zoom animation--*/
.zoomContainer{
    width: 300px;
    position:relative;
    margin: 5em;
    overflow: hidden;
}

.zoomMSG, .slideMSG{
    position: absolute;
    top:0%;
    bottom:0%;
    right:0%;
    left:0%;
    background-color: rgba(50,50,50,0.7);
    font-size: 2em;
    color: beige;
    text-align: center;
    padding-top: 20%;
    transition: ease 800ms;
   
}
.zoomMSG{
    transform: scale(0);
}
.zoomContainer:hover .zoomMSG{
    transform: scale(1);
}


/*--slide animation--*/
.slideMSG:hover{
    transform: translateX(300px);
}